[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
"google-auth-httplib2" = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"
redis = "*"
celery = {ref = "master", git = "https://github.com/celery/celery.git"}
pydub = "*"
youtube-dl = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3"
